@import './reset.css';
@import 'variables';

* {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $black;
  font-size: 18px;
  height: 100%;
}

body {
  background-color: $white;
  height: 100vh;
}

button,
select {
  border: none;
  outline: none;
}

.header {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 0 0 1rem;
  box-shadow: $box-shadow-btm;
  background-color: $black-low;
  color: $white;
  font-size: 1.625rem;
  font-weight: bold;

  .container-burger-menu {
    position: absolute;
    z-index: 20;
    display: none;

    .button-burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.375rem;
      width: 1.975rem;
      pointer-events: none;

      .bar {
        height: 0.25rem;
        width: 100%;
        border-radius: 10px;
        background-color: $white;
      }
    }
  }

  .score {
    display: flex;
    align-items: center;

    .character-info-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 0.375rem;

      .completed-tasks-number {
        font-size: 1rem;
      }

      .character-title {
        font-size: 0.75rem;
        color: var(--grey);
      }
    }

    .character-img {
      height: 70px;
    }
  }
}

.main {
  position: relative;
  display: flex;

  .sidebar.slide-view {
    transform: translate(0px);
    height: calc(100vh - 4rem);
  }

  .sidebar {
    min-height: calc(100vh - 4rem);
    width: 17.5rem;
    padding: 1.5rem 1rem;
    transition: transform 300ms ease-out;
    box-shadow: $box-shadow-right;
    font-weight: 500;
    background-color: $white-low-grey;

    .project-list {
      .project-container {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
        padding: 0 0.75rem 0 0.5rem;
        border-radius: 1rem;
        transition: 150ms;

        li {
          flex: 1;
        }

        a {
          opacity: 0;
          transition: 150ms;
        }

        &:hover a {
          opacity: 1;
        }
      }

      li {
        position: relative;
        padding: 0.5rem 0.5rem 0.5rem 1.625rem !important;
        cursor: pointer;
        color: $grey-text;
        font-weight: 500;
      }

      li.active {
        font-weight: 600;
        color: $black;
      }

      .project-container:has(li.active) {
        background-color: white;
      }

      .project-container:hover {
        background-color: white;
      }

      li::before {
        content: '';
        position: absolute;
        z-index: 20;
        top: 0.375rem;
        left: 0;
        display: inline-block;
        height: 1.25rem;
        width: 1.25rem;
        background: url('../assets/bamboo.svg');
      }

      .project-container:first-of-type li::before {
        background-image: url('../assets/inbox.svg');
        filter: invert(55%) sepia(19%) saturate(1713%) hue-rotate(180deg)
          brightness(100%) contrast(103%);
      }

      .project-container:nth-of-type(2) li::before {
        background: url('../assets/today.svg');
        filter: invert(47%) sepia(92%) saturate(401%) hue-rotate(83deg)
          brightness(101%) contrast(91%);
      }

      .project-container:nth-of-type(3) li::before {
        background: url('../assets/thisWeek.svg');
        filter: invert(45%) sepia(75%) saturate(542%) hue-rotate(219deg)
          brightness(101%) contrast(101%);
      }

      .project-container:nth-of-type(4) li::before {
        background: url('../assets/completed.svg');
        filter: invert(79%) sepia(37%) saturate(5702%) hue-rotate(348deg)
          brightness(101%) contrast(101%);
      }

      .project-container:nth-of-type(4) {
        margin-bottom: 2.25rem;
        position: relative;
      }

      .project-container:nth-of-type(4)::after {
        content: 'Projects';
        position: absolute;
        top: 3rem;
        left: 0;
        display: inline;
        pointer-events: none;
        font-size: 0.925rem;
        font-weight: normal;
        font-style: italic;
        color: $grey-text;
      }
    }

    .button-add-project {
      width: 100%;
      padding: 0.5rem 0.5rem;
      border-radius: 1rem;
      cursor: pointer;
      text-align: start;
      font-size: 0.925rem;
      font-weight: 600;
      color: $grey-text;
      background-color: transparent;
      transition: 150ms;
    }

    .button-add-project:hover {
      background-color: $white;
    }

    .dialog-add-project {
      padding: 0.5rem 0.5rem;

      .input-add-project-dialog {
        width: 100%;
        padding: 0.5rem;
        border: 2px solid $white-high-grey;
        border-radius: 5px;
        font-size: 0.85rem;
        background-color: $white;
      }
    }

    .buttons-dialog {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.25rem;
      margin-top: 0.375rem;
      .button-cancel-project-dialog,
      .button-add-project-dialog {
        padding: 0.6em 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.85rem;
        font-weight: bold;
        color: $white;
      }

      .button-cancel-project-dialog {
        background-color: $red;
      }

      .button-add-project-dialog {
        background-color: $green;
      }
    }

    .project-form {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      padding: 0.25rem;
      border: 1px solid $grey;
      border-radius: 5px;

      .project-input {
        flex: 1;
        margin: 0;
      }
    }
  }

  .tasks {
    flex: 1;
    height: calc(100vh - 4rem);
    max-width: $tasks-max-width;
    margin: 0 auto;
    padding: 2rem;
    overflow: auto;

    .project-heading {
      font-size: 1.625rem;
      font-weight: 500;
    }

    .button-add-task.hidden {
      display: none;
    }

    .button-add-task {
      margin-top: 0.5rem;
      padding: 0.5rem 4rem;
      border-radius: 1rem;
      cursor: pointer;
      text-align: start;
      font-size: 1rem;
      font-weight: 600;
      color: $grey-text;
      background-color: $white-low-grey;
      transition: 200ms;
    }

    .button-add-task:hover {
      background-color: $white-high-grey;
    }

    .dialog-add-task,
    .dialog-edit-task {
      margin-top: 0.5rem;
      .form-add-task,
      .form-edit-task {
        padding: 0.85rem 1rem 1rem 1rem;
        border-radius: 10px;
        border: 2px solid $white-high-grey;
        background-color: $white-low-grey;

        .task-text {
          display: grid;
          grid-template-columns: 1fr;
        }

        .task-name {
          font-size: 1.125rem;
        }

        .task-due-date,
        .task-priority {
          margin-top: 0.5rem;
          font-size: 1rem;
          height: 2rem;
        }

        /* Removes the clear button from date inputs */
        input[type='date']::-webkit-clear-button {
          display: none;
        }

        /* Removes the spin button */
        input[type='date']::-webkit-inner-spin-button {
          display: none;
        }

        /* Always display the drop down caret */
        input[type='date']::-webkit-calendar-picker-indicator {
          filter: invert(0.5);
        }

        /* A few custom styles for date inputs */
        input[type='date'] {
          appearance: none;
          margin-right: 0.5rem;
          padding: 5px;
          border: 2px solid $grey-transparent;
          border-radius: 5px;
          color: $grey;
        }

        select {
          appearance: none;
          padding: 5px;
          border: 2px solid $grey-transparent;
          border-radius: 5px;
          background-color: transparent;
          color: $grey;
        }
      }
    }

    .container-dialog-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      margin-top: 0.375rem;

      .button-dialog-cancel-task,
      .button-dialog-add-task,
      .button-dialog-cancel-edit-task,
      .button-dialog-edit-task {
        padding: 0.65em 1.125em;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: 600;
        color: $white;
      }

      .button-dialog-cancel-task,
      .button-dialog-cancel-edit-task {
        background-color: $red;
      }

      .button-dialog-add-task,
      .button-dialog-edit-task {
        background-color: $green;
      }
    }

    .tasks-container {
      .task-item.line-through {
        text-decoration: line-through;
        color: $grey;

        img {
          filter: invert(47%) sepia(90%) saturate(0%) hue-rotate(178deg)
            brightness(90%) contrast(95%);
        }
      }

      .task-item {
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .section-task-info {
          flex: 1;
          line-height: 1.8;
          display: flex;
          justify-content: space-between;
        }

        .section-task-change {
          padding-left: 1rem;

          img {
            cursor: pointer;
            height: 18px;
            padding: 0 0.5rem;
          }
        }
      }
    }

    .section-task-checkbox {
      position: relative;
      margin-right: 0.5rem;

      label {
        position: absolute;
        left: 0;
        top: 0;
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        border: 1px solid $grey;
        border-radius: 50%;
        cursor: pointer;
      }

      label::after {
        transition: opacity 0.4s ease;
      }

      label:hover::after {
        position: absolute;
        top: 4.25px;
        left: 3px;
        height: 3px;
        width: 6.5px;
        border: 1.5px solid $grey;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
      }

      input[type='checkbox']:checked + label::after {
        content: '';
        position: absolute;
        top: 4.25px;
        left: 3px;
        height: 4px;
        width: 7.5px;
        border: 2px solid $white;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
      }

      input[type='checkbox'] {
        visibility: hidden;
      }

      input[type='checkbox']:hover + label::after {
        opacity: 1;
      }

      input[type='checkbox']:checked + label {
        border-color: $green;
        background-color: $green;
      }

      input[type='checkbox']:checked + label::after {
        opacity: 1;
      }
    }

    .task-info-container {
      flex: 1;
      padding-left: 0.25rem;

      .task-info-container > p:not(:first-child) {
        margin-top: 0.5rem;
      }

      .task-description,
      .task-date {
        color: $grey;
      }
    }

    .edit-container.hide {
      display: none;
    }
    .edit-container {
      display: flex;
      align-items: center;

      img {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }

  .all-complete-container {
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    max-width: 800px;
    text-align: center;
    transform: translate(-50%, -50%);

    img.lazy-panda {
      height: 240px;
      width: 300px;
    }

    p {
      font-size: 0.8rem;
      color: $grey;
    }

    // COMBINED ELEMENTS FROM DIFFERENT PARENTS
  }
}

// .modal {
//   position: fixed;
//   z-index: 10;
//   top: 50%;
//   left: 50%;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   max-width: 350px;
//   height: 400px;
//   border-radius: 10px;
//   transform: translate(-50%, -50%) scale(1);
//   transition: 200ms ease-in-out;
//   background-color: $white-high-grey;

//   .modal-form {
//     display: flex;
//     flex-direction: column;
//   }
// }

// .modal.active {
//   transform: translate(-50%, -50%) scale(1);
// }

// .modal {
//   max-width: 300px;
//   margin: 0 auto;
//   padding: 2rem;
//   border-radius: 10px;
//   background-color: $white-low-grey;

//   .modal-form {
//     display: flex;
//     flex-direction: column;
//     gap: 0.75rem;

//     input,
//     button,
//     select {
//       border-radius: 7.5px;
//       font-size: 0.85rem;
//     }

//     input,
//     select {
//       padding: 0.5rem;
//       background-color: $white;
//     }

//     button {
//       border-radius: 7.5px;
//       padding: 0.75rem 0;

//       &:nth-child(5) {
//         background-color: $white-high-grey;
//       }

//       &:last-child {
//         background-color: $green;
//       }
//     }
// }

input {
  background-color: transparent;
  border: none;
  outline: none;
}

::-webkit-scrollbar {
  width: 17.5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $white-high-grey;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $grey-transparent;
}

@media only screen and (max-width: 600px) {
  .header {
    .container-burger-menu {
      display: block;
    }
    h1 {
      display: none;
    }
    .score {
      margin-left: auto;
    }
  }
}

.low {
  filter: invert(55%) sepia(19%) saturate(1713%) hue-rotate(180deg)
    brightness(100%) contrast(103%);
}

.medium {
  filter: invert(79%) sepia(37%) saturate(5702%) hue-rotate(348deg)
    brightness(101%) contrast(101%);
}

.high {
  filter: invert(21%) sepia(85%) saturate(7154%) hue-rotate(355deg)
    brightness(96%) contrast(80%);
}

.tasks-container {
  .task-item {
    display: flex;
    justify-content: center;
    align-items: center;

    // .section-task-checkbox {
    //   input[type='checkbox'] {
    //     width: 18px;
    //     height: 18px;
    //   }
    // }

    .section-task-info {
      flex: 1;
      line-height: 1.8;
      display: flex;
      justify-content: space-between;
    }

    .section-task-change {
      padding-left: 1rem;
    }
    img {
      cursor: pointer;
      height: 18px;
      padding: 0 0.5rem;
    }
  }
}

.dialog-add-project {
  display: none;
}

.dialog-add-project.active {
  display: block;
}

.button-add-project.active {
  display: none;
}

.dialog-add-task {
  display: none;
}

.dialog-add-task.active {
  display: block;
}

.dialog-edit-task {
  display: none;
}

.dialog-edit-task.active {
  display: block;
}

[data-edit].hidden {
  display: none;
}

a {
  cursor: pointer;
}
