@import './reset.css';
@import 'variables';

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: $black;
  font-size: 16px;
  height: 100%;
}

body {
  background-color: $white;
  height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
}

button,
select {
  border: none;
  outline: none;
}

.content {
  position: relative;
}

.header {
  position: relative;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
  padding: 0 0 0 1rem;
  box-shadow: $box-shadow-btm;
  background-color: $black-low;
  color: $white;
  font-size: 1.625rem;
  font-weight: bold;

  .container-burger-menu {
    position: absolute;
    z-index: 20;
    display: none;

    .button-burger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 0.375rem;
      width: 1.975rem;
      pointer-events: none;

      .bar {
        height: 0.25rem;
        width: 100%;
        border-radius: 10px;
        background-color: $white;
      }
    }
  }

  .score {
    display: flex;
    align-items: center;

    .character-info-container {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      gap: 0.375rem;

      .completed-tasks-number {
        font-size: 1rem;
      }

      .character-title {
        font-size: 0.75rem;
        color: var(--grey);
      }
    }

    .character-img {
      position: relative;
      top: 0.15rem;
      height: 4rem;
    }
  }
}

.main {
  position: relative;

  .sidebar {
    position: absolute;
    z-index: 30;
    min-height: calc(100vh - 4rem);
    width: 17.5rem;
    padding: 1.5rem 1rem;
    transition: transform 300ms ease-in-out, width 300ms ease-in-out;
    box-shadow: $box-shadow-right;
    font-weight: 500;
    background-color: $white-low-grey;

    .project-list {
      .project-container {
        display: flex;
        align-items: center;
        margin-bottom: 0.25rem;
        padding: 0 0.75rem 0 0.5rem;
        border-radius: 1rem;

        li {
          flex: 1;
        }

        a {
          opacity: 0;
        }

        &:hover a {
          opacity: 1;
        }
      }

      li {
        position: relative;
        padding: 0.5rem 0.5rem 0.5rem 1.625rem !important;
        cursor: pointer;
        color: $grey-text;
        font-weight: 500;
      }

      li.active {
        font-weight: 600;
        color: $black;
      }

      .project-container:has(li.active) {
        background-color: white;
      }

      .project-container:hover {
        background-color: white;
      }

      li::before {
        content: '';
        position: absolute;
        z-index: 20;
        top: 0.375rem;
        left: 0;
        display: inline-block;
        height: 1.25rem;
        width: 1.25rem;
        background: url('../assets/bamboo.svg');
      }

      .project-container:first-of-type li::before {
        background-image: url('../assets/inbox.svg');
        filter: invert(55%) sepia(19%) saturate(1713%) hue-rotate(180deg)
          brightness(100%) contrast(103%);
      }

      .project-container:nth-of-type(2) li::before {
        background: url('../assets/today.svg');
        filter: invert(47%) sepia(92%) saturate(401%) hue-rotate(83deg)
          brightness(101%) contrast(91%);
      }

      .project-container:nth-of-type(3) li::before {
        background: url('../assets/thisWeek.svg');
        filter: invert(45%) sepia(75%) saturate(542%) hue-rotate(219deg)
          brightness(101%) contrast(101%);
      }

      .project-container:nth-of-type(4) li::before {
        background: url('../assets/completed.svg');
        filter: invert(79%) sepia(37%) saturate(5702%) hue-rotate(348deg)
          brightness(101%) contrast(101%);
      }

      .project-container:nth-of-type(4) {
        margin-bottom: 2.5rem;
        position: relative;
      }

      .project-container:nth-of-type(4)::after {
        content: 'Projects';
        position: absolute;
        top: 3rem;
        left: 0;
        display: inline;
        pointer-events: none;
        font-size: 0.925rem;
        font-weight: normal;
        font-style: italic;
        color: $grey-text;
      }
    }

    .button-add-project {
      width: 100%;
      padding: 0.5rem 0.5rem;
      border-radius: 1rem;
      cursor: pointer;
      text-align: start;
      font-size: 0.925rem;
      font-weight: 600;
      color: $grey-text;
      background-color: transparent;
      transition: 150ms;
    }

    .button-add-project:hover {
      background-color: $white;
    }

    .dialog-add-project {
      padding: 0.25rem 0.5rem;

      .input-add-project-dialog {
        width: 100%;
        padding: 0.5rem;
        border: 2px solid $white-high-grey;
        border-radius: 5px;
        font-size: 0.85rem;
        background-color: $white;
      }
    }

    .buttons-dialog {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 0.25rem;
      margin-top: 0.375rem;
      .button-cancel-project-dialog,
      .button-add-project-dialog {
        padding: 0.6em 0;
        border-radius: 5px;
        cursor: pointer;
        font-size: 0.85rem;
        font-weight: bold;
        color: $white;
      }

      .button-cancel-project-dialog {
        background-color: $red;
      }
      .button-cancel-project-dialog:hover {
        background-color: $red-hover;
      }

      .button-add-project-dialog {
        background-color: $green;
      }
      .button-add-project-dialog:hover {
        background-color: $green-hover;
      }
    }

    .project-form {
      display: flex;
      align-items: center;
      margin-top: 0.5rem;
      padding: 0.25rem;
      border: 1px solid $grey;
      border-radius: 5px;

      .project-input {
        flex: 1;
        margin: 0;
      }
    }
  }

  .tasks-wrapper {
    transform: translate(17.5rem, 0);
    max-width: calc(100vw - 17.5rem);
    transition: transform 300ms ease-out;
  }

  .tasks {
    flex: 1;
    height: calc(100vh - 4rem);
    max-width: $tasks-max-width;
    margin: 0 auto;
    padding: 2rem 2rem 3rem 2rem;
    overflow: auto;

    .project-heading {
      font-size: 1.625rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .button-add-task.active {
      display: block;
    }

    .button-add-task {
      display: none;
      margin-top: 1rem;
      padding: 0.5rem 4rem;
      border-radius: 1rem;
      cursor: pointer;
      text-align: start;
      font-size: 1rem;
      font-weight: 600;
      color: $grey-text;
      background-color: $white-low-grey;
      transition: 200ms;
    }

    .button-add-task:hover {
      background-color: $white-high-grey;
    }

    .dialog-add-task,
    .dialog-edit-task {
      margin-top: 0.5rem;
      .form-add-task,
      .form-edit-task {
        padding: 0.85rem 1rem 1rem 1rem;
        border-radius: 10px;
        border: 2px solid $white-high-grey;
        background-color: $white-low-grey;

        .task-text {
          display: grid;
          grid-template-columns: 1fr;
        }

        .task-name {
          appearance: none;
          display: inline-block;
          min-height: 2.375rem;
          min-width: 4rem;
          padding-left: 0.5rem;
          border: 2px solid $grey-transparent;
          border-radius: 5px;
          font-size: 1rem;
          background-color: transparent;
        }

        // FLEX CONTAINER -> WEBKIT PADDING/MARGIN FIX FOR SELECT
        .optional-data {
          display: flex;

          input[type='date'] {
            position: relative;
            min-width: 7.5rem;
            color: black;
          }

          input[type='date'][value=''] {
            color: transparent;
          }

          input[type='date'][value='']::after {
            content: 'Due date';
            pointer-events: none;
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            line-height: 1.5rem;
            min-width: 7.5rem;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
              Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
              sans-serif;
            color: black;
          }

          input[type='date'][value='']:focus {
            color: black;
          }

          input[type='date'][value='']:focus::after {
            display: none;
          }

          input[type='date'],
          select {
            appearance: none;
            display: inline-block;
            min-height: 2rem;
            margin-top: 0.5rem;
            margin-right: 0.5rem;
            border: 2px solid $grey-transparent;
            border-radius: 5px;
            outline: none;
            text-align-last: center;
            font-size: 1rem;
            color: black;
            background-color: transparent;
          }

          // input[type='date']::-webkit-inner-spin-button,
          // input[type='date']::-webkit-calendar-picker-indicator {
          //   display: none;
          //   -webkit-appearance: none;
          // }

          select {
            min-width: 6rem;
          }
        }
      }
    }

    .container-dialog-buttons {
      display: flex;
      justify-content: flex-end;
      gap: 0.5rem;
      margin-top: 0.375rem;

      .button-dialog-cancel-task,
      .button-dialog-add-task,
      .button-dialog-cancel-edit-task,
      .button-dialog-edit-task {
        padding: 0.65em 1.125em;
        border-radius: 5px;
        font-size: 0.9rem;
        font-weight: 600;
        color: $white;
      }

      .button-dialog-cancel-task,
      .button-dialog-cancel-edit-task {
        background-color: $red;
      }

      .button-dialog-cancel-task:hover,
      .button-dialog-cancel-edit-task:hover {
        background-color: $red-hover;
      }

      .button-dialog-add-task,
      .button-dialog-edit-task {
        background-color: $green;
      }

      .button-dialog-add-task:hover,
      .button-dialog-edit-task:hover {
        background-color: $green-hover;
      }
    }

    .tasks-container {
      .task-item.line-through {
        text-decoration: line-through;
        color: $grey;

        img {
          filter: invert(47%) sepia(90%) saturate(0%) hue-rotate(178deg)
            brightness(90%) contrast(95%);
        }
      }

      .task-item {
        display: flex;
        justify-content: start;
        align-items: flex-start;
        padding: 0.5rem 0;
        border-bottom: 1px solid $white-high-grey;

        .section-task-checkbox {
          margin-top: 0.325rem;
        }

        .section-task-info {
          flex: 1;
          display: flex;
          align-items: flex-start;
          line-height: 1.8;
          display: flex;
          justify-content: space-between;

          p:first-child {
            word-break: break-word;
            padding-right: 1rem;
          }
        }

        .section-task-change {
          padding: 0 0 0 1rem;

          img {
            cursor: pointer;
            height: 1.75rem;
            padding: 0.25rem 0 0.25rem 0.5rem;
            margin-left: 0.5rem;
          }
        }
      }
    }

    .section-task-checkbox {
      position: relative;
      margin-right: 0.5rem;

      label {
        position: absolute;
        left: 0;
        top: 0;
        width: 1rem;
        height: 1rem;
        background-color: transparent;
        border: 2px solid $grey;
        border-radius: 50%;
        cursor: pointer;
        transition: opacity 200ms ease-in-out;
      }

      label.high {
        border: 2px solid $red;
        background-color: $red-transparent;
        &:hover::after,
        &::after {
          border-color: $red;
        }
      }
      label.medium {
        border: 2px solid $orange;
        background-color: $orange-transparent;
        &:hover::after,
        &::after {
          border-color: $orange;
        }
      }
      label.low {
        border: 2px solid $blue;
        background-color: $blue-transparent;
        &:hover::after,
        &::after {
          border-color: $blue;
        }
      }

      label::after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 1.5px;
        height: 5px;
        width: 9px;
        border: 2.5px solid $grey;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
        transition: opacity 200ms ease-in-out;
      }

      label:hover::after {
        content: '';
        position: absolute;
        top: 2.5px;
        left: 1.5px;
        height: 5px;
        width: 9px;
        border: 2.5px solid $grey;
        border-top: none;
        border-right: none;
        opacity: 1;
        transform: rotate(-45deg);
      }

      input[type='checkbox']:checked + label::after {
        content: '';
        position: absolute;
        top: 4px;
        left: 2.5px;
        height: 5px;
        width: 9px;
        border: 2.5px solid $white;
        border-top: none;
        border-right: none;
        opacity: 0;
        transform: rotate(-45deg);
      }

      input[type='checkbox'] {
        visibility: hidden;
      }

      input[type='checkbox']:hover + label::after {
        opacity: 1;
      }

      input[type='checkbox']:checked + label {
        border: 1px solid $green;
        background-color: $green;
      }

      input[type='checkbox']:checked + label::after {
        opacity: 1;
      }
    }

    .task-info-container {
      flex: 1;
      padding-left: 0.25rem;

      .task-info-container > p:not(:first-child) {
        margin-top: 0.5rem;
      }

      .task-description,
      .task-date {
        color: $grey;
      }
    }

    .edit-container.hide {
      display: none;
    }
    .edit-container {
      display: flex;
      align-items: center;

      img {
        width: 18px;
        height: 18px;
        display: inline-block;
        margin-left: 1rem;
      }
    }
  }

  .all-complete-container {
    position: absolute;
    z-index: -10;
    top: 50%;
    left: 50%;
    max-width: 800px;
    text-align: center;
    transform: translate(-50%, -50%);

    img.lazy-panda {
      height: 240px;
      width: 300px;
    }

    p {
      font-size: 0.8rem;
      color: $grey;
    }

    // COMBINED ELEMENTS FROM DIFFERENT PARENTS
  }
}

.footer {
  position: fixed;
  z-index: 90;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.5rem 0;
  box-shadow: $box-shadow-top;
  font-weight: 400;
  word-spacing: 0.25rem;
  background-color: $black-low;
  color: $white-high-grey;
}

::-webkit-scrollbar {
  width: 17.5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $white-high-grey;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: $grey-transparent;
}

@media only screen and (max-width: 1024px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 768px) {
  .header {
    .container-burger-menu {
      display: block;
    }
    h1 {
      display: none;
    }
    .score {
      margin-left: auto;
    }
  }

  .sidebar {
    transform: translate(-17.5rem, 0);
  }
  .sidebar.active {
    transform: translate(0, 0);
    width: 100vw;
  }

  .main {
    .sidebar {
      .project-list {
        .project-container {
          li {
            padding: 1rem 0 1rem 1.625rem !important;
          }
          li:before {
            position: absolute;
            top: 0.8rem;
          }
          &:nth-of-type(4) {
            margin-bottom: 2.75rem;
            position: relative;
          }

          &:nth-of-type(4)::after {
            content: 'Projects';
            position: absolute;
            top: 4.25rem;
          }
        }
      }
      .button-add-project {
        padding: 1rem;
      }
    }
    .tasks-wrapper {
      max-width: 100vw;
      transform: translate(0, 0);
    }
  }
}

@media only screen and (max-width: 480px) {
  .main {
    .tasks {
      .button-add-task.active {
        margin: 1.5rem auto;
      }
      .tasks-container {
        .task-item {
          .section-task-info {
            flex-direction: column;
          }
        }
      }
    }
  }
}

// .low {
//   filter: invert(55%) sepia(19%) saturate(1713%) hue-rotate(180deg)
//     brightness(100%) contrast(103%);
// }

// .medium {
//   filter: invert(79%) sepia(37%) saturate(5702%) hue-rotate(348deg)
//     brightness(101%) contrast(101%);
// }

// .high {
//   filter: invert(21%) sepia(85%) saturate(7154%) hue-rotate(355deg)
//     brightness(96%) contrast(80%);
// }

.dialog-add-project {
  display: none;
}

.dialog-add-project.active {
  display: block;
}

.button-add-project.active {
  display: none;
}

.dialog-add-task {
  display: none;
}

.dialog-add-task.active {
  display: block;
}

.dialog-edit-task {
  display: none;
}

.dialog-edit-task.active {
  display: block;
}

[data-edit].hidden {
  display: none;
}

a {
  cursor: pointer;
}
