:root {
  --black: #202020;
  --white: hsla(0, 0%, 100%, 0.87);
  --grey: #808080;
  --grey-transparent: #80808080;
  --dark-grey: #242424;
  --medium-dark-grey: #282828;
  --grey-hover: #363636;
  --green: #32cd32;
  --tasks-width: 800px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--white);
  font-size: 16px;
}

body {
  background-color: var(--black);
  min-height: 100vh;
  display: grid;
}

button,
select {
  border: none;
  outline: none;
}

.header {
  height: 7.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--medium-dark-grey);
  font-size: 1.625rem;
  font-weight: bold;
  padding: 0 1rem;
  position: relative;
  overflow: hidden;
}

.burger-menu-container {
  display: none;
  position: absolute;
}

.btn-burger-menu {
  pointer-events: none;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  height: 3px;
  width: 100;
  background-color: var(--white);
  border-radius: 10px;
}

.score {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.score > img {
  height: 5rem;
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.main {
  display: flex;
  height: 92.5vh;
}

.sidebar {
  font-weight: 500;
  width: 200px;
  height: 92.5vh;
  background-color: var(--dark-grey);
  transition: all 300ms ease-out;
  overflow: hidden;
}

.sidebar.slide-view {
  position: fixed;
  z-index: 10;
  height: 92.5vh;
  transform: translate(0px);
}

.project-form {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid var(--grey-transparent);
  padding: 0.25rem;
  border-radius: 5px;
  margin-top: 0.5rem;
}

.project-input {
  flex: 1;
  margin: 0;
}

.btn-add-project {
  background-color: transparent;
  font-size: 1rem;
  padding-left: 1rem;
  color: var(--grey);
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-list {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.625rem 0.125rem;
  border-radius: 5px;
}

.project-list:hover {
  background-color: var(--grey-hover);
}

.active-project {
  color: var(--white);
  font-weight: 500;
  background-color: var(--grey-hover);
}

li {
  position: relative;
  padding-left: 2rem !important;
}

li::before {
  position: absolute;
  top: 7.5px;
  left: 5px;
  content: "";
  background: url("../assets/listDot.svg");
  height: 1.25rem;
  width: 1.25rem;
  display: inline-block;
}

li:first-child::before {
  background: url("../assets/inbox.svg");
  filter: invert(55%) sepia(19%) saturate(1713%) hue-rotate(180deg) brightness(100%) contrast(103%);
}

li:nth-child(2)::before {
  background: url("../assets/today.svg");
  filter: invert(47%) sepia(92%) saturate(401%) hue-rotate(83deg) brightness(101%) contrast(91%);
}

li:nth-child(3)::before {
  background: url("../assets/thisWeek.svg");
  filter: invert(45%) sepia(75%) saturate(542%) hue-rotate(219deg) brightness(101%) contrast(101%);
}

li:nth-child(4)::before {
  background: url("../assets/completed.svg");
  filter: invert(79%) sepia(37%) saturate(5702%) hue-rotate(348deg) brightness(101%) contrast(101%);
}

li:nth-child(4) {
  margin-bottom: 2.5rem;
}

li:nth-child(4)::after {
  display: inline;
  content: "Projects";
  position: absolute;
  top: 3.5rem;
  left: 0;
  font-size: 1rem;
  font-weight: normal;
  color: var(--green);
  pointer-events: none;
}

.tasks {
  position: relative;
  max-width: var(--tasks-width);
  margin: 0 auto;
  flex: 1;
}

.btn-add-container {
  display: flex;
}

.btn-add-task {
  font-size: 1rem;
  flex: 1;
  text-align: start;
  color: var(--grey);
  background-color: transparent;
}

.dialog,
.btn-add-task {
  display: none;
}

.dialog.active,
.btn-add-task.active {
  display: block;
}

.dialog-form {
  border: 1px solid var(--grey-transparent);
  padding: 0.75rem;
  border-radius: 10px;
}

.btn-remove-container {
  display: flex;
  justify-content: flex-end;
}

.btn-cancel-task,
.btn-remove-task {
  font-size: 0.825rem;
  font-weight: 600;
  padding: 10px 12px;
  border-radius: 5px;
  margin: 0.5rem 0 0 0.75rem;
}

.btn-cancel-task {
  background-color: var(--medium-dark-grey);
  color: var(--white);
}

.btn-remove-task {
  background-color: var(--green);
  color: var(--white);
}

input {
  background-color: transparent;
  border: none;
  outline: none;
  color: var(--white);
}

.task-text {
  display: grid;
  grid-template-columns: 1fr;
}

input[type="text"]:first-child {
  font-size: 1rem;
}
input[type="text"]:nth-child(2) {
  font-size: 0.75rem;
}

input {
  margin-bottom: 0.5rem;
}

/* MADE TASKS */
.task-name {
  font-size: 1.25rem;
}

.task-description,
.task-date,
.task-priority {
  margin-top: 0.25rem;
  font-size: 1rem;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
  display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button {
  display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(0.5);
}

/* A few custom styles for date inputs */
input[type="date"] {
  appearance: none;
  -webkit-appearance: none;
  color: var(--grey);
  border: 1px solid var(--grey-transparent);
  padding: 5px;
  border-radius: 5px;
  margin-right: 0.5rem;
}

select {
  appearance: none;
  -webkit-appearance: none;
  border: 1px solid var(--grey-transparent);
  padding: 5px;
  border-radius: 5px;
  background-color: transparent;
  color: var(--grey);
}

.task-info-container {
  padding-left: 0.25rem;
  flex: 1;
}

.task-info-container > p:not(:first-child) {
  margin-top: 0.5rem;
}

.task-container {
  padding: 1rem;
  margin-bottom: 0.25rem;
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--grey-transparent);
}

.task-description,
.task-date {
  color: var(--grey);
}

.checkbox-container {
  position: relative;
}

.checkbox-container label {
  background-color: transparent;
  border: 1px solid var(--grey);
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  width: 1rem;
  height: 1rem;
}

.checkbox-container label::after {
  transition: opacity 0.4s ease;
}

.checkbox-container label:hover::after {
  border: 1.5px solid var(--grey);
  border-top: none;
  border-right: none;
  content: "";
  opacity: 0;
  transform: rotate(-45deg);
  position: absolute;
  top: 4.25px;
  left: 3px;
  height: 3px;
  width: 6.5px;
}

.checkbox-container input[type="checkbox"]:checked + label::after {
  border: 1.5px solid var(--white);
  border-top: none;
  border-right: none;
  content: "";
  opacity: 0;
  transform: rotate(-45deg);
  position: absolute;
  top: 4.25px;
  left: 3px;
  height: 3px;
  width: 6.5px;
}

.checkbox-container input[type="checkbox"] {
  visibility: hidden;
}

.checkbox-container input[type="checkbox"]:hover + label::after {
  opacity: 1;
}

.checkbox-container input[type="checkbox"]:checked + label {
  background-color: var(--green);
  border-color: var(--green);
}

.checkbox-container input[type="checkbox"]:checked + label::after {
  opacity: 1;
}

.edit-container {
  display: flex;
}

.hide {
  display: none;
}

.edit,
.remove {
  margin-left: 1rem;
  display: inline-block;
  height: 24px;
  filter: invert(48%) sepia(1%) saturate(1020%) hue-rotate(346deg) brightness(105%) contrast(85%);
}

.all-complete-container {
  max-width: 800px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;
}

img.lazy-panda {
  height: 240px;
  width: 300px;
}

.all-complete-container > p {
  font-size: 0.8rem;
  color: var(--grey);
}

li {
  color: var(--grey);
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: var(--grey);
}

@media only screen and (max-width: 600px) {
  .header > h1 {
    flex: 1;
    text-align: right;
  }

  .burger-menu-container {
    display: block;
  }

  .sidebar {
    position: absolute;
    transform: translate(-200px);
    overflow: hidden;
    z-index: 10;
  }

  img.lazy-panda {
    max-width: 100px;
    height: 80px;
  }
}
/* 
@media only screen and (min-width: 601px) {
  .sidebar.slide-view {
    font-weight: 500;
    width: 200px;
    height: 92.5vh;
    background-color: var(--dark-grey);
    transition: all 300ms ease-out;
    overflow: hidden;
    position: static;
    display: block;
    transform: translate(0px);
    padding: 0rem;
  }
} */
