/* LIGHT MODE */
$white: #fcfcfc;
$white-high-grey: #e0e0e0;
$white-mid-grey: #f7f7f7;
$white-low-grey: #f1f1f1;
$black: #000000;
$grey: #808080;
$grey-transparent: #8080807e;
$box-shadow-btm: 2px 2px 1px 0px rgba(0, 0, 0, 0.15);
$green: #32cd32;

/* DARK MODE */
/* --black: #202020;
  --white: hsla(0, 0%, 100%, 0.87);
  --grey: #808080;
  --grey-transparent: #80808021;
  --dark-grey: #242424;
  --medium-dark-grey: #282828;
  --grey-hover: #363636;
  --green: #32cd32; */
$tasks-max-width: 800px;
