/* LIGHT MODE */
$white: #ffffff;
$white-high-grey: #e5e5e5;
$white-mid-grey: #f1f5f9;
$white-low-grey: #f5f5f5;
$black: #000000;
$black-low: #222222;
$grey: #808080;
$grey-text: #666666;
$grey-transparent: #8080807e;
$box-shadow-top: 0px -2px 1px 0px rgba(0,0,0,0.15);
$box-shadow-btm: 2px 2px 1px 0px rgba(0, 0, 0, 0.15);
$box-shadow-right: 2px 0px 1px 0px rgba(0, 0, 0, 0.05);
$green: #22c55e;
$green-hover: #16a34a;
$red: #dc2626;
$red-hover: #b91c1c;

/* DARK MODE */
/* --black: #202020;
  --white: hsla(0, 0%, 100%, 0.87);
  --grey: #808080;
  --grey-transparent: #80808021;
  --dark-grey: #242424;
  --medium-dark-grey: #282828;
  --grey-hover: #363636;
  --green: #32cd32; */
$tasks-max-width: 1000px;
